<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách người dùng</title>
  <link rel="stylesheet" href="/library/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/library/fontawesome/css/all.min.css">
  <script src="/library/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/userStyle.css">
  <link rel="stylesheet" href="/css/fonts.css">
</head>

<body>
  <div class="container-fluid user-container">
    <div class="d-flex justify-content-between align-items-start mt-lg-2 ms-lg-2 me-lg-2">
      <p class="fs-3 fw-semibold"><i class="fa-solid fa-caret-right me-2"></i>Người dùng</p>
      <button class="btn btn-primary btn-shadow" data-bs-toggle="modal" data-bs-target="#modalAdd"><i
          class="fa-solid fa-plus px-2"></i></button>
    </div>

    <div class="modal fade" id="modalAdd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center">
              <img src="/images/add_user.gif" alt="logout" class="img-fluid" width="55">
              <span class="fs-4 fw-semibold text-center">Thêm người dùng mới</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" enctype="multipart/form-data" id="add-user-form">
            <div class="modal-body">
              <div class="container-fluid align-items-center">
                <div class="row mb-2 align-items-center">
                  <div class="d-flex flex-column align-items-center mb-1">
                    <img src="/images/ic_avatar.png"
                      class=" img-fluid rounded-circle shadow-sm border border-2 border-dark-subtle mb-1 " alt="avatar"
                      id="view_image" style="width: 100px; height:100px; object-fit:cover" />
                    <label for="upload-photo">
                      <a href="#" class="text-decoration-none ">
                        <p class="text-center fst-italic fw-semibold">Cập nhật ảnh</p>
                      </a>
                    </label>
                    <input class="form-control form-control-sm" id="avatar" type="file" name="avatar" accept="image/*"
                      style="display: none;">
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="name" class="col-form-label">Tên người dùng:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="text" class="form-control" id="name" name="name" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="email" class="col-form-label">Email:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="email" class="form-control" id="email" name="email" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="password" class="col-form-label">Mật khẩu:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="password" class="form-control" id="password" name="password" minlength="6"
                      maxlength="20" required>
                  </div>
                </div>

                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="name" class="col-form-label">Chức vụ:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <select class="form-select" aria-label="Default select example" name="select-permission">
                      <option value="admin" selected>Quản trị viên</option>
                      <option value="user">Người dùng</option>
                    </select>
                  </div>
                </div>

              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-primary ps-5 pe-5">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row mt-2 ms-lg-2 me-lg-2">

      {{#if arrUsers}}
      <div class="price-box mb-1 ms-2">
        <span class="fw-semibold text-body" style="--bs-text-opacity: .5;">Tổng số: <span
            class="fw-semibold fs-5 text-body" style="--bs-text-opacity: 1;">{{totalUsers}}</span></span>
      </div>
      <div class="table-responsive table-container">
        <table class="table table-hover table-borderless">
          <thead>
            <tr>
              <th>STT</th>
              <th>Ảnh</th>
              <th>Tên người dùng</th>
              <th>Email</th>
              <th>Chức năng khác</th>
            </tr>
          </thead>
          <tbody>
            {{#each arrUsers}}
            <tr>
              <th scope="row">{{this.index}}</th>
              <td>
                {{#if this.avatar.data}}
                <img src="data:{{this.avatar.contentType}};base64,{{this.avatar.data}}" alt="Avatar"
                  class="img-fluid rounded-circle border border-dark-subtle "
                  style="width:50px; height:50px; object-fit:cover">
                {{else}}
                <img src="/images/ic_avatar.png" alt="Avatar" class="img-fluid border border-dark-subtle rounded-circle"
                  style="width:50p; height:50px; object-fit:cover">
                {{/if}}
              </td>

              <td>{{this.name}}</td>
              <td id="td-email" class="text-wrap">{{this.email}}</td>

              <td class="d-none" id="isAdmin">{{this.userAuthorization}}</td>
              <td>
                <button type="button" class="border border-0 rounded-circle bg-transparent mt-1" data-bs-toggle="modal"
                  data-bs-target="#infoModal" data-name="{{this.name}}"
                  data-avatar="data:{{this.avatar.contentType}};base64,{{this.avatar.data}}" data-email="{{this.email}}"
                  data-permission="{{this.userAuthorization}}"><i
                    class="fs-4 fa-solid fa-circle-info text-info"></i></button>

                <button type="button" class="border border-0 rounded-circle bg-transparent " data-bs-toggle="modal"
                  data-bs-target="#editModal" data-id="{{this._id}}" data-name="{{this.name}}"
                  data-avatar="data:{{this.avatar.contentType}};base64,{{this.avatar.data}}" data-email="{{this.email}}"
                  data-permission="{{this.userAuthorization}}" id="btn-edit"><i
                    class="fs-4 fa-regular fa-pen-to-square text-warning"></i></button>
                <button type="button" class="border border-0 rounded-circle bg-transparent" data-bs-toggle="modal"
                  data-bs-target="#deleteModal" data-id="{{this._id}}" data-name="{{this.name}}"><i
                    class="fs-4 fa-solid fa-trash text-danger" id="btn-delete"></i></button>

              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" class="mt-3">
        <div class="pagination-container d-flex justify-content-center">
          <ul class="pagination nav-shadow">
            {{#if prevPage}}
            <li class="page-item"> <a class="page-link" href="/users?page={{prevPage}}">&laquo; Previous</a></li>
            {{/if}}

            {{#each pages}}
            {{#if this.isCurrent}}
            <li class="page-item"><span a class="page-link active" aria-current="page">{{this.pageNum}}</span></li>
            {{else}}
            <li class="page-item"><a class="page-link" href="/users?page={{this.pageNum}}">{{this.pageNum}}</a></li>
            {{/if}}
            {{/each}}

            {{#if nextPage}}
            <li class="page-item"> <a class="page-link" href="/users?page={{nextPage}}">Next &raquo;</a></li>
            {{/if}}
          </ul>
        </div>

      </nav>
      {{else}}
      <p class="fs-4 mt-5 text-center text-danger">Chưa có dữ liệu</p>
      {{/if}}

    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <div class="d-flex align-items-center">
              <img src="/images/edit.gif" alt="logout" class="img-fluid" width="55">
              <span class="fs-4 fw-semibold text-center">Sửa thông tin</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="POST" enctype="multipart/form-data" id="editUserForm">
            <div class="modal-body">
              <div class="container-fluid align-items-center">
                <div class="row mb-2 align-items-center">
                  <div class="d-flex flex-column align-items-center mb-1">
                    <img src="/images/ic_avatar.png"
                      class=" img-fluid rounded-circle shadow-sm border border-2 border-dark-subtle mb-1 "
                      alt="view_edit_avatar" id="view_edit_avatar"
                      style="width: 100px; height:100px; object-fit:cover" />
                    <label for="upload-edit-photo">
                      <a href="#" class="text-decoration-none ">
                        <p class="text-center fst-italic fw-semibold">Cập nhật ảnh</p>
                      </a>
                    </label>
                    <input class="form-control form-control-sm" id="edit_avatar" type="file" name="edit_avatar"
                      accept="image/*" style="display: none;">
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="name" class="col-form-label">Tên người dùng:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="text" class="form-control" id="edit-name" name="name" required>
                  </div>
                </div>
                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="email" class="col-form-label">Email:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <input type="email" class="form-control" id="edit-email" name="email" required>
                  </div>
                </div>

                <div class="row mb-2 align-items-center">
                  <div class="col-lg-4 col-md-12 col-xs-12">
                    <label for="permission" class="col-form-label">Chức vụ:</label>
                  </div>
                  <div class="col-lg-8 col-md-12 col-xs-12">
                    <select class="form-select" aria-label="Default select example" name="selectedValue"
                      id="select-edit-permission">
                      <option value="admin">Quản trị viên</option>
                      <option value="user">Người dùng</option>
                    </select>
                  </div>
                </div>
                <input type="hidden" id="editUserId" name="id">
              </div>

            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
              <button type="submit" class="btn btn-warning ps-5 pe-5">Lưu</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header align-items-start">
            <div class="d-flex align-items-center">
              <img src="/images/information.gif" alt="logout" class="img-fluid" width="70">
              <span class="fs-4 fw-semibold text-center">Chi tiết người dùng</span>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="row d-flex container-fluid">
              <div class="d-flex align-items-start mb-1 col-lg-4 col-md-12">
                <img src="/images/logo_title.png"
                  class=" img-fluid rounded-circle shadow-sm border border-2 border-dark-subtle mb-1 " alt="img_product"
                  id="img-avatar" style="width: 100px; height:100px; object-fit:cover" />
              </div>

              <div class="d-flex flex-column col-lg-8 col-md-12">
                <div class="d-flex mb-2 align-items-start">
                  <span class="fw-normal text-secondary me-2">Họ và tên: </span>
                  <span class="fw-semibold text-body" id="info-name"></span>
                </div>

                <div class="d-flex mb-2 align-items-start">
                  <span class="fw-normal text-secondary me-2">Email: </span>
                  <span class="fw-semibold text-body" id="info-email"></span>
                </div>
                <div class="d-flex mb-2 align-items-start">
                  <span class="fw-normal text-secondary me-2">Chức vụ: </span>
                  <span class="fw-semibold" id="info-permission"></span>
                </div>

              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-auto" data-bs-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header d-flex align-items-start">
            <div class="d-flex align-items-center justify-content-center">
              <img src="/images/trash.gif" alt="logout" class="img-fluid w-25 ms-4">
            </div>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Bạn có chắc chắn muốn xóa người dùng "<span id="userName" class="fw-semibold fst-italic"></span>" này?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            <a id="delete-link" href="#" class="btn btn-danger  shadow-sm  fs-6">Xóa ngay</a>
          </div>
        </div>
      </div>
    </div>

    {{#if alertErr}}
    <div class="alert alert-danger d-flex justify-content-between align-items-center fade show m-auto fixed-top"
      role="alert">
      <div class="d-flex align-items-center text-center">
        <i class="fa-solid fa-triangle-exclamation fs-2 pe-3 px-1"></i>
        <span class="fs-5 text-dark">{{alertErr}}</span>
      </div>
      <i class="fa-solid fa-xmark fs-2 pe-2" data-bs-dismiss="alert" aria-label="Close"></i>
    </div>
    {{/if}}

    {{#if alertSuccess }}
    <div class="alert alert-success d-flex justify-content-between align-items-center fade show m-auto fixed-top"
      role="alert">
      <div class="d-flex align-items-center text-center">
        <i class="fa-solid fa-triangle-exclamation fs-2 pe-3 px-1"></i>
        <span class="fs-5 text-dark">{{alertSuccess}}</span>
      </div>
      <i class="fa-solid fa-xmark fs-2 pe-2" data-bs-dismiss="alert" aria-label="Close"></i>
    </div>
    {{/if}}

  </div>
  <script src="/library/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/Js/users.js"></script>
</body>

</html>